<html>
    <head>
        <title> Let's Manage Finance </title>
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    </head>
<body>
  <header>
    <div class="main">
        <div class="logo">
            <img src="../../static/images/Logo.JPG">
        </div>
        <ul>
            <li><a href="#">Home</a> </li>
            <li><a href="#">Login</a> </li>
            <li><a href="#">About</a> </li>
            <li><a href="#">Contact</a> </li>
        </ul>
    </div>
  </header>
</body>
</html>